## 학습목표
 1. axis의 이해
 2. axis를 파라미터로 갖는 함수 이해하기

## 1차원 벡터  (행의 Transpose) -> axis = 0
    - axis=None은 axis=0과 동일
    - axis=0 -> 행이 증가하는방향(오른쪽)으로 연산
    - 이때는 transpose된 것으로 나오므로 행이 증가하는 방향이 오른쪽 
## 2차원 행렬 (행 x 열)-> axis = 0 or 1
    - axis=None은 axis=0,1과 동일
    - axis=None ->(기본값).. 행,열 둘다 증가하는 방향으로 연산(오른쪽 아래로)
    - axis=0 -> 행이 증가하는 방향(밑으로) 연산.... shape(a,b)중 a 기준
    - axis=1 -> 열이 증가하는 방향(오른쪽으로) 연산.... shape(a,b)중 b 기준
## 3차원 텐서 (행렬 x 행 x 열)-> axis = 0 or 1 or 2
    - axis=None은 axis=0,1,2와 동일
    - axis=None -> (기본값).. 전부다 연산  -> 결과는 숫자 하나
    - axis=1 -> shape(a,b,c)에서 a기준으로 연산 -> 결과는 bxc행렬
    - axis=2 -> shape(a,b,c)에서 b기준으로 연산 -> 결과는 axc행렬
    - axis=3 -> shape(a,b,c)에서 c기준으로 연산 -> 결과는 axb행렬

In [3]:
import numpy as np

#### axis 이해하기
 - 몇몇 함수에는 axis keyword 파라미터가 존재
 - axis값이 없는 경우에는 전체 데이터에 대해 적용
 - axis값이 있는 경우에는, 해당 axis를 **따라서** 연산 적용

* axis를 파라미터로 갖는 함수를 이용하기
 - 거의 대부분의 연산 함수들이 axis 파라미터를 사용
 - 이 경우, 해당 값이 주어졌을 때, 해당 axis를 **따라서** 연산이 적용
   - 따라서 결과는 해당 axis가 제외된 나머지 차원의 데이터만 남게 됨
 - 예) np.sum, np.mean, np.any 등등

In [12]:
x = np.arange(15)
x

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14])

* 1차원 데이터에 적용하기

In [13]:
np.sum(x)

105

In [14]:
np.sum(x, axis=0)

105

* 행렬에 적용하기

In [16]:
y = x.reshape(3,5)
y

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14]])

In [17]:
np.sum(y)

105

In [18]:
np.sum(y, axis=0)

array([15, 18, 21, 24, 27])

In [19]:
np.sum(y, axis=1)

array([10, 35, 60])

* 3차원 텐서에 적용하기

In [20]:
z = np.arange(60).reshape(3,4,5)
z

array([[[ 0,  1,  2,  3,  4],
        [ 5,  6,  7,  8,  9],
        [10, 11, 12, 13, 14],
        [15, 16, 17, 18, 19]],

       [[20, 21, 22, 23, 24],
        [25, 26, 27, 28, 29],
        [30, 31, 32, 33, 34],
        [35, 36, 37, 38, 39]],

       [[40, 41, 42, 43, 44],
        [45, 46, 47, 48, 49],
        [50, 51, 52, 53, 54],
        [55, 56, 57, 58, 59]]])

In [21]:
np.sum(z)

1770

In [22]:
np.sum(z, axis=0)

array([[ 60,  63,  66,  69,  72],
       [ 75,  78,  81,  84,  87],
       [ 90,  93,  96,  99, 102],
       [105, 108, 111, 114, 117]])

In [23]:
np.sum(z, axis=1)

array([[ 30,  34,  38,  42,  46],
       [110, 114, 118, 122, 126],
       [190, 194, 198, 202, 206]])

In [24]:
np.sum(z, axis=2)

array([[ 10,  35,  60,  85],
       [110, 135, 160, 185],
       [210, 235, 260, 285]])

* axis의 값이 튜플일 경우
 - 해당 튜플에 명시된 모든 axis에 대해서 연산

In [29]:
np.sum(z, axis=(0,2))

array([330, 405, 480, 555])

In [30]:
np.sum(z, axis=(0,1,2))

1770