## 학습목표
 1. concat 함수를 활용하여 dataframe 병합시키기

In [1]:
import pandas as pd
import numpy as np

#### concat 함수 사용하여 dataframe 병합하기
 - pandas.concat 함수
 - 축을 따라 dataframe을 병합 가능
   - 기본 axis = 0 -> 행단위 병합

* column명이 같은 경우

In [ ]:
df1 = pd.DataFrame({'key1' : np.arange(10), 'value1' : np.random.randn(10)})

In [ ]:
df2 = pd.DataFrame({'key1' : np.arange(10), 'value1' : np.random.randn(10)})

In [3]:
pd.concat(['df1', 'df2'])

TypeError: cannot concatenate object of type "<class 'str'>"; only pd.Series, pd.DataFrame, and pd.Panel (deprecated) objs are valid

* column 명이 다른 경우

In [ ]:
df3 = pd.DataFrame({'key2' : np.arange(10), 'value2' : np.random.randn(10)})