## 학습목표
 1. Series 함수 활용하여 데이터 분석하기

In [1]:
import numpy as np
import pandas as pd

#### **Series size, shape, unique, count, value_counts 함수**
 - size : 개수 반환
 - shape : 튜플형태로 shape반환
 - unique: 유일한 값만 ndarray로 반환
 - count : NaN을 제외한 개수를 반환
 - mean: NaN을 제외한 평균 
 - value_counts: NaN을 제외하고 각 값들의 빈도를 반환

In [5]:
s = pd.Series([2,3,1,5,3,1,5,2,32,5,3,2,23,np.NaN])
s

0      2.0
1      3.0
2      1.0
3      5.0
4      3.0
5      1.0
6      5.0
7      2.0
8     32.0
9      5.0
10     3.0
11     2.0
12    23.0
13     NaN
dtype: float64

In [9]:
print(len(s))
print(s.size)
print(s.shape)

14
14
(14,)

In [11]:
s.unique()

array([ 2.,  3.,  1.,  5., 32., 23., nan])

In [13]:
s.count() ## NaN 제외하고 count

13

In [16]:
## numpy에서는 NaN 계산 불가능
a = np.array([1,2,3,4,2,3, np.NaN])
print(a.mean())

## pandas에서는 NaN 계산 가능  (NaN 무시하고 계산함)
b = pd.Series(a)
print(b.mean())

nan
2.5

In [20]:
s.value_counts() ## 각 데이터의 빈도수 나타냄

5.0     3
3.0     3
2.0     3
1.0     2
23.0    1
32.0    1
dtype: int64

#### **head, tail 함수**
 - head : 상위 n개 출력 기본 5개
 - tail : 하위 n개 출력 기본 5개

In [21]:
s.head()

0    2.0
1    3.0
2    1.0
3    5.0
4    3.0
dtype: float64

In [22]:
s.tail()

9      5.0
10     3.0
11     2.0
12    23.0
13     NaN
dtype: float64