## 학습목표
 1. pandas Series 이해하기

In [2]:
import numpy as np
import pandas as pd

#### **Series 값 변경**
  - 추가 및 업데이트: 인덱스를 이용
  - 삭제: drop함수 이용

In [3]:
s = pd.Series(np.arange(100,105), ['a','b','c','d','e'])
s

a    100
b    101
c    102
d    103
e    104
dtype: int32

In [5]:
s['a']

100

In [7]:
s['b'] = 2000
s

a     100
b    2000
c     102
d     103
e     104
dtype: int32

In [21]:
s['f'] = 99
s

a     100
b    2000
c     102
d     103
e     104
f      99
dtype: int64

In [22]:
s.drop('f') #s 자체에서 지워진건 아님

a     100
b    2000
c     102
d     103
e     104
dtype: int64

In [11]:
s

a     100
b    2000
c     102
d     103
e     104
f      99
dtype: int64

In [23]:
s. drop('f', inplace=True)  ## inplace=True 이면 복사본 만들지 않고 그 객체 자체에서 실행 -> 객체 자체에 변화를 줌

In [24]:
s

a     100
b    2000
c     102
d     103
e     104
dtype: int64

In [26]:
s[['b','c']] = [400, 500]
s

a    100
b    400
c    500
d    103
e    104
dtype: int64

#### **Slicing**
 - 리스트, ndarray와 동일하게 적용

In [28]:
s1 = pd.Series(np.arange(5))
s2 = pd.Series(np.arange(100,105), ['a','b','c','d','e'])

In [29]:
s1[2:4]

2    2
3    3
dtype: int32

In [30]:
s2[2:4]

c    102
d    103
dtype: int32

In [32]:
s2['b':'d']  ## 문자열로 인덱싱할때는 마지막것도 포함

b    101
c    102
d    103
dtype: int32