## 학습목표
 1. pandas Series 데이터 생성하기

In [49]:
import numpy as np
import pandas as pd

#### Series
  - pandas의 기본 객체 중 하나
  - numpy의 ndarray를 기반으로 인덱싱을 기능을 추가하여 1차원 배열을 나타냄
  - index를 지정하지 않을 시, 기본적으로 ndarray와 같이 0-based 인덱스 생성, 지정할 경우 명시적으로 지정된 index를 사용
  - 같은 타입의 0개 이상의 데이터를 가질 수 있음

* data로만 생성하기
 - index는 기본적으로 0부터 자동적으로 생성

In [50]:
s1 = pd.Series([0,1,2])
s1

0    0
1    1
2    2
dtype: int64

In [51]:
s2 = pd.Series(['a','b','c'])
s2

0    a
1    b
2    c
dtype: object

In [52]:
s3 = pd.Series(np.arange(0,100)) 
s3.tail()

95    95
96    96
97    97
98    98
99    99
dtype: int32

* data, index함께 명시하기

In [53]:
# pd.Series(data, index)

s4 = pd.Series([0,1,2],[100,150,200])
s4

100    0
150    1
200    2
dtype: int64

In [54]:
s5 = pd.Series([0,1,2],['a','b','c'])
s5

a    0
b    1
c    2
dtype: int64

* data, index, data type 함께 명시하기

In [55]:
s6 = pd.Series([0,1,2], np.arange(10,13), dtype=np.int16)
s6

10    0
11    1
12    2
dtype: int16

#### 인덱스 활용하기

In [56]:
s5.index

Index(['a', 'b', 'c'], dtype='object')

In [57]:
s5.values

array([0, 1, 2], dtype=int64)

1. 인덱스를 통한 데이터 접근

In [58]:
s5['a']

0

2. 인덱스를 통한 데이터 업데이트

In [59]:
s5['a'] = 999
s5

a    999
b      1
c      2
dtype: int64

In [61]:
s5['d'] = 90
s5

a    999
b      1
c      2
d     90
dtype: int64

#### 인덱스를 활용하여 멀티플한 값에 접근

In [65]:
s5[['a','c']]

a    999
c      2
dtype: int64

3. 인덱스 재사용하기

In [63]:
s7 = pd.Series(np.arange(4), s5.index) ## s5의 인덱스를 그대로 사용
s7

a    0
b    1
c    2
d    3
dtype: int32