## 학습목표
 1. Series 데이터 연산하기

In [2]:
import numpy as np
import pandas as pd

#### index를 기준으로 연산

In [5]:
s1 = pd.Series([1,2,3,4],['a','b','c','d'])
s2 = pd.Series([4,21,5,31],['d','c','b','a'])
print(s1)
print(s2)
print(s1+s2)

##같은 인덱스끼리 연산

a    1
b    2
c    3
d    4
dtype: int64
d     4
c    21
b     5
a    31
dtype: int64
a    32
b     7
c    24
d     8
dtype: int64

#### **산술연산**
 - Series의 경우에도 스칼라와의 연산은 각 원소별로 스칼라와의 연산이 적용
 - Series와의 연산은 각 인덱스에 맞는 값끼리 연산이 적용
   - 이때, 인덱스의 pair가 맞지 않으면, 결과는 NaN

In [6]:
s1 ** 2

a     1
b     4
c     9
d    16
dtype: int64

In [7]:
s1 ** s2

a              1
b             32
c    10460353203
d            256
dtype: int64

#### **index pair가 맞지 않는 경우**
 - 해당 index에 대해선 NaN 값 생성

In [8]:
s1 = pd.Series([1,2,3,4,5],['a','b','c','d','e'])
s2 = pd.Series([4,21,5,31],['d','c','b','a'])

s1 + s2

a    32.0
b     7.0
c    24.0
d     8.0
e     NaN
dtype: float64