## 학습목표
 1. list, tuple에 대해 이해 및 실습

### **리스트 & 튜플**
 * 복수개의 값을 담을 수 있는 데이터 구조
 * 실생활에서 사용하는 리스트(학생 리스트, 성적 리스트 등등)과 동일한 의미로 이해
 * list - mutable    (생성된 후에 변경 가능)  
 * tuple - immutable (생성된 후에 변경 불가능)

#### **리스트 초기화**
 - [] 안에 값을 담아서 생성
 - list() 함수로 생성
 - str.split()함수로 생성

* **list() 함수**
 + 다른 데이터 타입을 리스트로 변환할 때도 사용

In [4]:
a = 'I like apple'
print(list(a))

tuple_= (1,2,3)
print(list(tuple_))

['I', ' ', 'l', 'i', 'k', 'e', ' ', 'a', 'p', 'p', 'l', 'e']
[1, 2, 3]

+ **string split 함수**
 * 구분자로 구분되는 리스트를 반환 (빈번히 사용 됨)

In [5]:
s = "hello world nice day"
s.split()

['hello', 'world', 'nice', 'day']

#### **리스트 indexing**
 * 문자열의 인덱싱과 동일하게 동작
 * [] 연산자를 이용하여 항목 얻어오기
 * [i] - i번째 원소를 반환
 * i가 음수인 경우도 가능하며 마지막원소가 -1로 하여 앞으로 갈때마다 1씩 감소함

In [6]:
a = [2,3,4,5,63,321]
print(a[3])
print(a[-1])

5
321

#### **리스트 개별 아이템에 접근**
 - 인덱스에 접근하여 값을 업데이트 가능

In [14]:
###### a = "I like apple"

b = a.replace('a','t')
print(b)

c = a[:7] + 't' + a[8:]
print(c)


list_a = [1,2,3,4,5]
list_a[1] = 10
print(list_a)

I like tpple
I like tpple
[1, 10, 3, 4, 5]

#### **리스트 slicing**
 - 문자열 슬라이싱과 동일하게 동작
 - 슬라이싱의 결과 역시 list!

In [17]:
a = [0,1,2,3,4,5,6]

print(a[:])

print(a[0:5:2]) # 0부터 5까지 2개씩 건너뜀

[0, 1, 2, 3, 4, 5, 6]
[0, 2, 4]

### list 멤버 함수
 - 생성된 리스트 객체에 동작하는 함수
 - 향후, 클래스와 멤버 함수 개념을 이해할 예정

* **append()**
 + 리스트의 끝에 항목을 추가함

In [18]:
a = [1,2]
a.append("Dd")

a

[1, 2, 'Dd']

+ **extend()**
 * 리스트를 연장
 * += 로도 가능함

In [26]:
a = [1,2,3]
b = [4,5,6]

a.append(b)
print(a)

a = [1,2,3]
a.extend(b)
print(a)

a = [1,2,3]
print(a + b)

[1, 2, 3, [4, 5, 6]]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]

+ **insert()로 항목추가**
 * 리스트의 원하는 위치에 추가 가능
 * 앞에 인덱스를, 뒤에 아이템을 명시

In [27]:
a = [1,2,3,4,5]
a.insert(1,50)

a

[1, 50, 2, 3, 4, 5]

+ **remove()**
 * 값으로 항목 삭제

In [28]:
a = [1,2,3,4,45,45,6]

a.remove(45)

a

[1, 2, 3, 4, 45, 6]

+ **pop()**
  - 지우고자 하는 아이템을 반환 후, 삭제

In [29]:
a = [1,2,3,4,45,45,6]

a.pop(5)

a

[1, 2, 3, 4, 45, 6]

+ **index()**
 * 찾고자 하는 값의 인덱스 반환

In [31]:
a = [1,2,3,4,45,45,6]

a.index(4)

3

* **in 키워드**
 + 리스트 내에 해당 값이 존재하는지 확인
 + value in [list]
 + True, False 중 한가지로 반환

In [32]:
a = [1,2,3,4,45,45,6]

c = 4 in a
c

True

* **list 정렬**
 + sort() -> 리스트 자체를 내부적으로 정렬
 + sorted() -> 리스트의 정렬된 복사본을 반환

In [36]:
a = [2,43,32,543,324,12,46,234,3]

a.sort(reverse=True)
a

[543, 324, 234, 46, 43, 32, 12, 3, 2]

In [37]:
a = [2,43,32,543,324,12,46,234,3]

sorted(a)

[2, 3, 12, 32, 43, 46, 234, 324, 543]

### **tuple**
 - 리스트와 같이 복수개의 값을 갖는 컬렉션 타입
 - 생성된 후 변경이 불가능

In [39]:
a = [1,2,3]
b = (1,2,3)
print(type(a))
print(type(b))

a[0] = 5
print(a)
b[0] = 5

<class 'list'>
<class 'tuple'>
[5, 2, 3]

TypeError: 'tuple' object does not support item assignment

#### **tuple unpacking**
 - 튜플의 값을 차례대로 변수에 대입

In [41]:
# 변수 한번에 열러개 설정 가능
a, b, c = 10, 20, 30

print(a, b, c)

10 20 30

* **연습문제** a와 b의 값을 교환하시오

In [42]:
a = 5
b = 4

a,b = b,a

print(a, b)

4 5